#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.custom-input:focus {
  border-color: #4CAF50;
  outline: none;
  /* removes default focus outline */
}

.sbmit-bttn {
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user_info {
  margin-right: 20px;
}

.row-bttns {
  background-color: #7070cf;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  margin: 10px 0 0 20px;
}